# ===============================
# GLOBAL DOCKER SETTINGS
# ===============================
PUID=1000
PGID=1000
UMASK=002
TZ=America/New_York
LANG=en_US.UTF-8
LOG_LEVEL=INFO

# ===============================
# FILE PATHS
# ===============================
CONFIG_ROOT=/home/jay_/docker
MEDIA_ROOT=/home/jay_/media
MEDIA2_ROOT=/home/jay_/media

# ===============================
# DOCKER NETWORKS
# ===============================
MEDIA_NET=media_net
TRAEFIK_NET=traefik_net
DNS_NET=dns_net
INFRA_NET=infra_net

# ===============================
# PORT MAPPINGS
# ===============================
QBITTORRENT_WEBUI_PORT=8090
QBITTORRENT_TORRENTING_PORT=6881
SONARR_PORT=8989
RADARR_PORT=7878
PROWLARR_PORT=9696
BAZARR_PORT=6767
HUNTARR_PORT=9705
OVERSEERR_PORT=5056
HOMARR_PORT=7575
HOMEBRIDGE_PORT=8581
WHISP_PORT=6969
NZBGET_PORT=6789
DELUGE_WEBUI_PORT=8112
DELUGE_TORRENTING_PORT=6882
PORTAINER_PORT=9443
PORTAINER_AGENT_PORT=9001
PROXY_PORT=54321
TELEGRAM_PORT=8444
SOCKS5_REDIS_PORT=6379
JELLYSEERR_PORT=5055
NGINX_PORT=8082
NEXTCLOUD_PORT=8081
FLARESOLVERR_PORT=8191
JELLYFIN_PORT=8096
PIHOLE_WEBUI_PORT=8009
PLEX_PORT=32400
UNBOUND_PORT=5335
CRAFTY_HTTP_PORT=8000
CRAFTY_HTTPS_PORT=8443
CRAFTY_DYNMAP_PORT=8123
CRAFTY_BEDROCK_PORT=19132
CRAFTY_JAVA_PORT=25565
EMBY_PORT=8097
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_DASH_PORT=8080

# ===============================
# API KEYS / TOKENS
# ===============================
SONARR_API_KEY=
RADARR_API_KEY=
PROWLARR_API_KEY=
BAZARR_API_KEY=
WHISPARR_API_KEY=
JELLYFIN_API_KEY=
JELLYSEERR_API_KEY===
EMBY_API_KEY=
CF_DNS_API_TOKEN=
TELEGRAM_API_TOKEN=
HOMARR_KEY=

# ===============================
# CREDENTIALS
# ===============================

# ===============================
# HOSTS
# ===============================
BAZARR_HOST=bazarr.jay6145.site
CRAFTY_HOST=crafty.jay6145.site
DELUGE_HOST=deluge.jay6145.site
EMBY_HOST=emby.jay6145.site
FLARESOLVERR_HOST=flaresolverr.jay6145.site
HOMARR_HOST=homarr.jay6145.site
HOMEBRIDGE_HOST=homebridge.jay6145.site
HUNTARR_HOST=huntarr.jay6145.site
JELLYFIN_HOST=jellyfin.jay6145.site
JELLYSEERR_HOST=jellyseerr.jay6145.site
NEXTCLOUD_HOST=nextcloud.jay6145.site
NGINX_HOST=jay6145.site
NZBGET_HOST=nzbget.jay6145.site
OVERSEERR_HOST=overseerr.jay6145.site
PIHOLE_HOST=pihole.jay6145.site
PLEX_HOST=plex.jay6145.site
PORTAINER_HOST=portainer.jay6145.site
PROWLARR_HOST=prowlarr.jay6145.site
QBITTORRENT_HOST=qb.jay6145.site
RADARR_HOST=radarr.jay6145.site
SONARR_HOST=sonarr.jay6145.site
TRAEFIK_HOST=traefik.jay6145.site
UNBOUND_HOST=unbound.jay6145.site
WHISP_HOST=whisp.jay6145.site
WHOAMI_HOST=whoami.jay6145.site

# ===============================
# DATABASES
# ===============================
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ===============================
# MISCELLANEOUS
# ===============================
LAN_IPV4=
ACME_EMAIL=
SOCKS5_IP=
SOCKS5_PORT=
